{% extends "base.html" %}

{% block title %}Movie - {% endblock %}

{% block content %}

{{movie}}

{% if movie %}

<ul class="nav nav-pills">
    <li class="active">
     <a href="javascript:history.back(-1);">Go back to search results</a>
    </li>
</ul>

<table class="table table-striped">
  
  <tbody>
    <tr>
      <td><img src="{{movie.posters.detailed}}" alt="{{movie.title}}" class="img-rounded"/></td>
      <td width="65%">
        <table style="width: 100%">
            <tr>
                <td class="border-none">
                    <h2>{{movie.title}} ({{movie.year}})</h2>
                </td>
            </tr>
            {% if movie.synopsis %}
            <tr>
              <td>
                <h4>Movie Info</h4>
                {{movie.synopsis}}
              </td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    <table class="table table-bordered">
                      <tr>
                          <td >
                            {{movie.mpaa_rating}} {{movie.runtime}}
                          </td>
                            <td>
                              In Theaters: {{movie.release_dates.theater}}
                            </td>
                      </tr>
                      <tr>
                          <td >
                            Directed by: {{movie.mpaa_rating}} 
                          </td>
                            <td>
                              In Theaters: {{movie.release_dates.theater}}
                            </td>
                      </tr>
                    </table>
                </td>
            </tr>
            
        </table>
        </td>
    </tr>
  </tbody>
</table>



{% endif %}

{% endblock %}