{% extends "base.html" %}

{% block title %}Movie - {% endblock %}

{% block content %}

{% if movie %}

<ul class="nav nav-pills">
    <li class="active">
     <a href="javascript:history.back(-1);">Go back to search results</a>
    </li>
</ul>

<table class="table table-striped">
  
  <tbody>
    <tr>
      <td><img src="{{movie.posters.detailed}}" alt="{{movie.title}}" class="img-rounded"/></td>
      <td width="65%">
        <table style="width: 100%">
            <tr>
                <td class="border-none">
                    <h2>{{movie.title}} ({{movie.year}})</h2>
                </td>
            </tr>
            {% if movie.synopsis %}
            <tr>
              <td>
                <h4>Movie Info</h4>
                {{movie.synopsis}}
              </td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    <table class="table table-bordered">
                      <tr>
                          <td >
                            Rating: {{movie.mpaa_rating}} 
                          </td>
                            <td>
                              Runtime: {{movie.runtime}}
                            </td>
                      </tr>
                      <tr>
                          <td colspan="2"> Release Dates: </td>
                      </tr>
                      <tr>
                          <td colspan="2">
                           
                            {% if movie.release_dates.theater %}
                            <div class="row-fluid">
                              <div class="span4">In Theaters:</div>
                              <div class="span8">{{movie.release_dates.theater}}</div>
                            </div>
                            {% endif %}
                            
                            {% if movie.release_dates.dvd %}
                            <div class="row-fluid">
                              <div class="span4">DVD:</div>
                              <div class="span8">{{movie.release_dates.dvd}}</div>
                            </div>
                            {% endif %}
                          </td>
                      </tr>
                    </table>
                </td>
            </tr>
            
        </table>
        </td>
    </tr>
  </tbody>
</table>

{% endif %}

{% endblock %}